<!-- RIGHT -->
<div id="right">
  <br/>
  <%= link_to 'Create New User', {:action => 'new'}, :class => 'button hundredfifty' %>
	<div class="clear">&nbsp;</div>
	<h1>Links</h1>
	<p>
		<%= link_to 'View All Roles', :controller => 'roles', :action => 'index' %>
	</p>
</div>
<div class="clear">&nbsp;</div>
