<%
	@image = product.images[0]
	if @image then
		image_url = url_for_file_column('image', 'path', 'small')
	else
		image_url = '/plugin_assets/substruct/images/ui/no-product-image.gif'
	end
-%>
<%= 
	make_product(
		image_url, 
		url_for(:controller => 'store', :action => 'show', :id => product.code), 
		product.name, 
		product.display_price) 
-%>