<h2>Email Address</h2>
<div class="padLeft" style="padding-bottom:10px;">
  <%= text_field 'order_user', 'email_address', :class => 'textInput' %>
	<%= error_message_on(:order_user, :email_address) %>
</div>
